* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: raleway, Arial, helvetica;
    color: rgb(184, 61, 186);
    background-color: #0a262f;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html
body {
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    width: 94%;
    margin: auto;
}

/* ---------- */
/* -----NAVIGATION BAR----- */
/* ---------- */

nav {
    /* border: solid 2px red; */
    width: 820px;
    float: right;
    margin: 0;
    display: block;
}

#logo {
    margin-top: 18px;
    height: 50px;
    width: 50px;
}

li {
    /* border: solid 2px red; */
    font-family: "Orbitron";
    color: grey;
    margin-top: 30px;
    list-style: decimal-leading-zero;
    margin-left: 100px;
    float: left;
}

span {
    color: rgb(184, 61, 186);
}

#resume-link {
    border: solid 1px rgb(184, 61, 186);
    font-size: 20px;
    margin-top: 18px;
    padding: 10px;
    float: right;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


/* ---------- */
/* ----- HEADER CONTENT ----- */
/* ---------- */

.content-container {
    /* border: solid 1px rgb(184, 61, 186); */
    margin: 210px auto;
    width: 900px;
    height: 500px;
}

#introduction {
    font-family: "Orbitron";
    font-size: 20px;
}

#my-name{
    margin-top: 15px;
    font-size: 75px;
    color: rgb(176, 132, 194);
}

#what-i-do {
    margin-top: 5px;
    font-size: 68px;
    color: rgb(127, 115, 133);
}

.header-content-paragraph {
    margin-top: 30px;
    width: 50%;
    color: rgb(127, 115, 133);
}

#get-in-touch-button {
    font-family: "Orbitron";
    margin-top: 70px;
    height: 50px;
    width: 156px;
    border: solid 1px rgb(184, 61, 186);
    border-radius: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* ---------- */
/* ----- ABOUT ME ----- */
/* ---------- */

.about {
    /* border: solid 1px rgb(255, 0, 0); */
    height: 950px;
    margin: 210px auto;
    width: 900px;
}
.about-header {
    /* border: solid 1px khaki; */
    float: left;
    margin-left: 40px;
    padding: 0;
}

.about-paragraph{
    border: solid 1px khaki;
    float: left;
    width: 500px;
    padding-left: 0;
    margin-left: -128px;
    margin-top: 90px;
}

 table{
     padding-left: 0px;
     border: solid 1px khaki;
     border-collapse: collapse;
 }

 tr {
     border: solid 1px khaki;
     padding: 0;
 }

 .about-list {
     margin-top: 10px;
     font-size: 15px;
     padding-left: 15px;
     list-style-type: "➢";
     color: khaki;
 }

 .about-image {
     height: 250px;
     width: 250px;
     float: right;
     margin-top: 190px;
 }